@{
    ViewData["Title"] = "Home Page";
}

<style type="text/css">
    .box1 {
        background-color: aquamarine;
        height: 100px;
        border-style: solid;
        border-width: 1px;
        border-color: black;
        margin: 5px;

    }
    .box2 {
        background-color: blueviolet
    }     
</style>

<div class="jumbotron">TEST</div>

<div class="container-fluid">
    <div class="row seven-cols">
        <div class="col-md-1">
            <div class="col-md-12">Sunday</div>
            <hr/>
            <div class="row">
                <div class="col-md-12 box1">
                    Some text
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 box2">
                    Some more text
                </div>
            </div>
        </div>

        <div class="col-md-1">Monday</div>
        <div class="col-md-1">Tuesday</div>
        <div class="col-md-1">Wednesday</div>
        <div class="col-md-1">Thursday</div>
        <div class="col-md-1">Friday</div>
        <div class="col-md-1">Saturday</div>
    </div>
</div>